body{
    background-color: #1d1d1d
  }
  .plus{
    width: 3em;
    float: left;
  }
  .title{
    margin: 2em auto;
  }
  .title .logo{
    height:7em;
    display: inline-block;
    
  }
  
  .title .icon{
    height: 10%;
    width: 10%;
  }
  
  .gallery{
    margin-top: 1.5em;
    font-family: 'Orbitron', sans-serif;
  }
  
  .info{
    display: none;
    left: 0;
    position: absolute;
    width: 100%;
    margin-top: 3em;
    opacity: 1;
  }
  .views{
    margin-top: .5em;
  }
  
  h4{
    left: 0;
    position:absolute;
    width: 100%;
    opacity: 1;
    color: #fff;
  }
  .online img:hover{
    opacity: .25;
    
  }
  .online img{
    /*#65fe08*/;
    padding: 0 auto;
    border-radius: 10%;
    margin: 0 auto;
  }
  
  .pulsate{
    -webkit-animation: pulse linear 2s infinite;
    -moz-animation:    pulse linear 2s infinite;
    -o-animation:      pulse linear 2s infinite;
    animation: pulse linear 2s infinite;
    
  }
  
  @-webkit-keyframes pulse {
    0%{box-shadow: 0px 0px 6px 6px #6441A5;}
    50%{box-shadow: 0px 0px 4px 3px #6441A5;}
    100%{box-shadow: 0px 0px 6px 6px #6441A5;}
  }
  @-moz-keyframes pulse {
    0%{box-shadow: 0px 0px 6px 6px #6441A5;}
    50%{box-shadow: 0px 0px 4px 3px #6441A5;}
    100%{box-shadow: 0px 0px 6px 6px #6441A5;}
  }
  @-o-keyframes pulse {
    0%{box-shadow: 0px 0px 6px 6px #6441A5;}
    50%{box-shadow: 0px 0px 4px 3px #6441A5;}
    100%{box-shadow: 0px 0px 6px 6px #6441A5;}
  }
  
  @keyframes pulse {
    0%{box-shadow: 0px 0px 6px 6px #6441A5;}
    50%{box-shadow: 0px 0px 4px 3px #6441A5;}
    100%{box-shadow: 0px 0px 6px 6px #6441A5;}
  }
  
  .offline img{
    box-shadow:0 0 4px 4px #a7a7a7;
    padding: 0 auto;
    border-radius: 10%;
    margin: 0 auto;
    opacity: .5;
  }
  
  .online, .offline {
    margin-top: 1em;
  }
  
  .online h3{
    text-align: center;
    color: #ddd;
  }
  
  .offline{
    color: #575757
  }
  
  .add h3{
    font-family: 'Orbitron', sans-serif;
    color: #6441A5;
    opacity: .5;
  }
  
  
  .glyphicon-plus{
    font-size: 4em;
    display: inline-block;
    color: #6441A5;
    opacity: .5;
  }
  
  .input-group{
    display: inline;
  }
  
  #plusButton{
    font-size: 2em;
    color: #1a1a1a;
  }
  
  .add-btn{
    margin-top: 5px;
    background-color: #6441a5;
    color: #ddd;
    
  }
  
  .modal-header h4{
    color: #000;
    margin-left: 1em;
  }
  footer{
    margin-top: 2em;
  }
  
  footer a:link, footer a:visited {
    color: #575757;
  }
  
  a:link,a:visited, a:hover, a:active {
    text-decoration: none !important;
    color: #ddd;
  }
  
  /***** MEDIA QUERIES ******/
  @media(max-width:660px){
    .icon{
      display: none;
    }
    }